<meta charset="utf-8" />
<title>
    {{- if $.Page.Title -}}
        {{- $.Page.Title -}}
    {{- end -}}
    {{ print ` - ` }}
    {{- $.Site.Title -}}
</title>
<meta name="title" content="
    {{- if $.Page.Title -}}
        {{- $.Page.Title -}}
    {{- end -}}
    {{ print ` - ` }}
    {{- $.Site.Title -}}">
<meta name="description" content="{{- $.Page.Description -}}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/x-icon" href="/favicon.ico" media="(prefers-color-scheme: no-preference)">
<link rel="icon" type="image/x-icon" href="/favicon_dark.ico"  media="(prefers-color-scheme: dark)">
<link rel="icon" type="image/x-icon" href="/favicon.ico" media="(prefers-color-scheme: light)">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<script>
    var currentImageInfo = null;

    function showImageViewer(imageInfo) {
        if (typeof imageInfo !== "object") {
            return;
        }
        currentImageInfo = imageInfo;

        var imageViewerImage = document.getElementById("imageViewerImage");
        imageViewerImage.src = imageInfo.url;

        var imageViewer = document.getElementById("imageViewer");
        imageViewer.style.display = "flex";

        var pageContent = document.getElementById("pageContent");
        pageContent.style.display = "none";
    }
    function hideImageViewer() {
        var imageViewer = document.getElementById("imageViewer");
        imageViewer.style.display = "none";

        var pageContent = document.getElementById("pageContent");
        pageContent.style.display = "block";

        if (currentImageInfo !== null) {
            var mainImage = document.getElementById(currentImageInfo.imageElementId);
            mainImage.scrollIntoView();
        }
    }
</script>
<script>
    var imageNumberText = null;
    var imageElements = null;

    function updateImageNumberText() {
        if (imageElements === null || imageElements.length <= 0 || imageNumberText === null) {
            return;
        }
        var viewportHeight = window.visualViewport.height;
        var scrollIndex = 0;
        for (let i = 0; i < imageElements.length; i++) {
            const element = imageElements[i];
            var boundingRect = element.getBoundingClientRect();
            var centerY = (boundingRect.y + boundingRect.bottom) / 2;
            if (centerY > viewportHeight) {
                continue;
            }
            scrollIndex = i;
        }
        imageNumberText.innerHTML = String(scrollIndex + 1) + "/" + imageElements.length;
    }

    window.addEventListener("load", function(event) {
        imageElements = [];
        for (let i = 0; i < 999; i++) {
            const element = document.getElementById("image" + i);
            if (element === null) {
                break;
            }
            imageElements.push(element);
        }

        imageNumberText = document.getElementById("imageNumberText");
        updateImageNumberText();

        var thisPostInPostsElement = document.getElementById("thisPostInPostsElement");
        if (thisPostInPostsElement !== null) {
            thisPostInPostsElement.scrollIntoView();
        }
    });
    window.addEventListener("scroll", function(event) {
        updateImageNumberText();
    });
</script>
<link href="https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
<link href="/css/artworksSingle.css" rel="stylesheet">
<link href="/css/artworksList.css" rel="stylesheet">