<div class="footer-container">
    <div style="display: flex; flex-direction: column; justify-content: left; flex-wrap: wrap; margin-top: 60px;">
        <div style="display: flex; margin: 0 auto; align-items: baseline; flex-wrap: wrap;">
            {{ if .Site.Params.NaverBlogUrl }}
                <a style="margin: 0 10px;" href="{{ .Site.Params.NaverBlogUrl }}" target="_blank" title="Visit Naver Blog">
                    <img style="width: 1.4em; height: 1.4em;" src="/socialIcons/naverBlog.svg" />
                </a>
            {{ end }}
            {{ if .Site.Params.PixivUrl }}
                <a style="margin: 0 10px;" href="{{ .Site.Params.PixivUrl }}" target="_blank" title="Visit Pixiv">
                    <img style="width: 1.4em; height: 1.4em;" src="/socialIcons/pixiv.svg" />
                </a>
            {{ end }}
            {{ if .Site.Params.ArtstationUrl }}
                <a style="margin: 0 10px;" href="{{ .Site.Params.ArtstationUrl }}" target="_blank" title="Visit Artstation">
                    <img style="width: 1.4em; height: 1.4em;" src="/socialIcons/artstation.svg" />
                </a>
            {{ end }}
            {{ if .Site.Params.TwitterUrl }}
                <a style="margin: 0 10px;" href="{{ .Site.Params.TwitterUrl }}" target="_blank" title="Visit Twitter">
                    <img style="width: 1.4em; height: 1.4em;" src="/socialIcons/twitter.svg" />
                </a>
            {{ end }}
        </div>
        <p class="footer-comment" style="margin: 16px auto 8px auto;">© 2021-2022
            <a class="text-link" href="mailto:haruby365@gmail.com" target="_blank" title="Send E-mail">
                Jong-il Hong
            </a>
        </p>
    </div>
</div>