<div class="header-container">
    <div style="display: flex; justify-content: left; align-items: baseline; flex-wrap: wrap;">
        <a class="text-link" style="margin-left: 40px; margin-right: auto;" href="{{ (.GetPage ``).RelPermalink }}">
            <h1>HARUBY</h1>
        </a>
        <div style="display: flex; margin: 0 40px; align-items: baseline; flex-wrap: wrap;">
            <a class="gray-text-link" style="margin: 0 10px;" href="{{ (.GetPage ``).RelPermalink }}">
                <h3>Home</h3>
            </a>
            <a class="gray-text-link" style="margin: 0 10px;" href="{{ (.GetPage `gallery`).RelPermalink }}">
                <h3>Gallery</h3>
            </a>
            <a class="gray-text-link" style="margin: 0 10px;" href="{{ (.GetPage `contact`).RelPermalink }}">
                <h3>Contact</h3>
            </a>
            <a class="gray-text-link" style="margin: 0 10px;" href="{{ (.GetPage `about`).RelPermalink }}">
                <h3>About</h3>
            </a>
        </div>
    </div>
</div>