{{ $title := .TagButton_Title }}
{{ $url := .TagButton_Url }}
{{ $isCancel := .TagButton_IsCancel }}

{{ $itemCount := 16 }}
{{ $scratch := newScratch }}
{{ $scratch.Set "Sum" 0 }}
{{ $str := $title }}
{{ $split := split $str "" }}
{{ range $split }}
    {{ $code := (int (printf "%#x" .)) }}
    {{ $sum := (int ($scratch.Get "Sum")) }}
    {{ $add := (int (add $sum $code)) }}
    {{ $scratch.Set "Sum" $add }}
{{ end }}
{{ $sum := (int ($scratch.Get "Sum")) }}
{{ $itemIndex := (int (mod $sum $itemCount)) }}

<a class="button-link {{ `tag-back-color` }}{{ $itemIndex }} {{ lower $title }}{{ print `-tag-back-color` }}" href="{{ $url }}" title="{{ print `#` }}{{ $title }}">
    <div style="display: flex; align-items: center; white-space: nowrap;">
        <span style="display: block; margin: 6px 6px 8px 6px; color: white; font-weight: 500;">{{ print "#" }}{{ $title }}</span>
        {{ if $isCancel }}
            <img style="display: block; width: 1em; height: 1em; margin-right: 6px;" src="/uiIcons/xmark_white.svg" />
        {{ end }}
    </div>
</a>