<!DOCTYPE html>
<html lang="{{ $.Site.Language.Lang }}">
<head>
    <meta charset="utf-8" />
    <title>
        {{- if $.Page.Title -}}
            {{- $.Page.Title -}}
        {{- else -}}
            {{- $.Site.Title -}}
        {{- end -}}
    </title>
    <meta name="title" content="
        {{- if $.Page.Title -}}
            {{- $.Page.Title -}}
        {{- else -}}
            {{- $.Site.Title -}}
        {{- end -}}">
    <meta name="description" content="{{- $.Page.Description -}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/favicon.ico" media="(prefers-color-scheme: no-preference)">
    <link rel="icon" type="image/x-icon" href="/favicon_dark.ico"  media="(prefers-color-scheme: dark)">
    <link rel="icon" type="image/x-icon" href="/favicon.ico" media="(prefers-color-scheme: light)">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
    <div id="content">
        {{ block "main" . }}
        {{ end }}
    </div>
</body>
</html>
