<!DOCTYPE html>
<html lang="{{ $.Site.Language.Lang }}">
<head>
    {{ partial "gallery/head.html" . }}
</head>
<body>
    {{ partial "header.html" . }}
    <div class="list-container">
        {{ partial "Breadscrumb.html" . }}
        {{ partial "TagButton.html" (dict "TagButton_Title" .Title "TagButton_Url" .Parent.RelPermalink "TagButton_IsCancel" true )}}
        {{ partial "gallery/GridListContainer.html" (dict "GridListContainer_SourceContentPages" .Pages.ByDate.Reverse) }}
        <div class="text-content-container">
            {{ $.Page.Content }}
        </div>
        {{ partial "ScrollTopButtonContainer.html" . }}
    </div>
    {{ partial "footer.html" . }}
</body>
</html>